/*Zerando as margens e espaçamento do página*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/*Estilizando o container principal*/
.principal{
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
}
body{
    overflow-x:hidden;
    background-color: #DFE4EB;
}

h1, h2, h4, h5{
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
    color: #6ca89e;
    text-align: center;
    font-weight: 700;
}

img{
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none;
}

::-webkit-scrollbar{
    background-color: rgb(9, 94, 85);
    width: .7rem;
}
::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 1rem;
}

/*Estilizando o cabeçalho */
header{
    background-color: #C5F9F0;
    display: flex;
    justify-content: space-between;
}

    /*Estilo do logo*/
    .navbar-brand{
        height: 4.8rem;
        width: 4.8rem;
        position: relative;
        overflow: hidden;
    }
            .navbar-brand img{
                height: 4.8rem;
                width: 4.8rem;
                object-fit: cover;
                position: absolute;
            }

             /*Estilo item menu*/
            .nav-item .nav-link a{
                color: #fff;
                font-weight: 700
            }
            .navbar-collapse a:hover{
                color: rgb(9, 94, 85);
            }
            .navbar-nav.nav-item a{
                font-weight: 700
            }
            .dropdown-menu{
                background-color: #fff;
                color: #1b4b44;
                background-color: rgba(255, 255, 255, 0.100);
                backdrop-filter: blur(15px);
                -webkit-backdrop-filter: blur(15px);
            }

        /*Estilo botão menu*/
        .navbar-toggler{
            background-color:#6ca89e ;
        }
        .nav-link a{
            color: rgb(9, 94, 85);
        }

    /*Estilizando o rodapé*/
    .rodape{
        width: 100%;
        height: 9rem;
        background-color: #C5F9F0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: .3rem;
    }

        .rodapeBox{
            width: 18rem;
            min-height: 9rem;
            padding: .3rem;
            text-align: center;
        }
        .rodapeBox:nth-child(4){
            width: 25rem;
        }
            .rodapeBox h5{
                font-size: 1rem;
            }

            .rodapeBox li{
                display: block;
                list-style: none;
                font-size: .8rem;
                padding: .2rem;
            }
            .rodapeBox a:hover{
                color: #6ca89e;
            }
        /*Estilo do logo do rodapé*/
        .logoRodape{
            height: 6rem;
            width: 6rem;
            justify-content: flex-start;
            position: relative;
            overflow: hidden;
            margin-bottom: 1.5rem;
            text-align: center;
        }
            .logoRodape img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                position: absolute;
            }
        
        /*Estilo dos links para as redes sociais do rodapé*/
        .redesSociais{
            display: flex;
            margin-top: .5%;
            padding: .3rem;
        }
            .redesSociais h5{
                text-align: justify;
                padding: .3rem;
            }
                .redesSociais img{
                    float: left;
                    justify-content: space-evenly;
                    padding: .35rem;
                    transition: linear 400ms;
                    /* justify-content: ; */
                }
                .bx{
                    width: 3rem;
                }
        /*Estilo do mapa do site*/
        .mapaSite{}
            .mapaSite ul li{}
        
        /*Estilo da seção criadoras*/
        .criadoras{}
            .criadoras ul li {}

@media(max-width: 1200px){
    .dropdown-menu.sub-menu{
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.527);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
    }
}
@media(max-width: 786px){
    .dropdown-menu.sub-menu{
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.527);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
    }
}