/*Início Estilização a página curiosidades*/

    /*Estilo doa abertura do popUp da página*/
    .navContainer{
        position: relative;
        width:100%;
        display: flex;
        flex-wrap: wrap;
        padding: .5rem;
        
    }
        /*Estilo do popUp*/
        .textNav{
            width:31%;
            margin: 1%;
            position: relative;
            text-align: justify;
            background-color: #fff;
            /* background-color: rgba(255, 255, 255, 0.658); */
            background-color: rgba(255, 255, 255, 0.849);
            backdrop-filter: blur(15px);
            -webkit-backdrop-filter: blur(15px);
            border: 1px solid rgba(0, 0, 0, 0.219);
            border-radius: .25rem;
        }
            .textNav a:hover{
                color: #6ca89e;
            }
            .textNav img{
                width: 630px;
                height: 226px;
                border-top: 1px solid rgba(0, 0, 0, 0.219);
                border-top-left-radius: .25rem;
                border-top-right-radius: .25rem;
            }
            .textNav h1{
                margin-top: 1%;
                font-size: 1.2rem;
                text-align: center;
                padding: 2.5% 2.5%;
                color: rgb(9, 94, 85);
                font-weight: 790;
            }
            .textNav p{
                font-size: 1rem;
                padding: .24rem;
                margin: 0 auto;
                padding: 2.5% 5%;
            }

            .textNav ul{
                padding: 3% 15%;
            }
                .textNav ul li{
                    list-style: circle;
                }
            
            .btn-Curi{
                /* background-color: slateblue; */
                padding: 5%;
                display: flex;
                width: 100%;
                height: 100px;
                justify-content: center;
                align-items: flex-end;
            }

            .btnSaibaMais{
                border: none;
                border-radius: .2rem;
                padding: 0.5rem 0.9rem;
                background-color: #6ca89e;
                font-size: 1rem;
                transition: linear 400ms;  
                flex-direction: column;  
            }
            
            .btnSaibaMais:hover{
                background-color: #a4e2d7;
            }
                .btnSaibaMais a{
                    color: #fff;
                }

    /*Estilo do conteúdo da página*/

        /*Estilo da abertura do conteúdo*/
        .openDialog {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0%;
            background-color: rgba(255, 255, 255, 0.100);
            backdrop-filter: blur(15px);
            -webkit-backdrop-filter: blur(15px);
            z-index: 99999;
            opacity: 0;
            -webkit-transition:  400ms ease-in;
            -moz-transition:  400ms ease-in;
            transition:  400ms ease-in;
            pointer-events: auto;
            display: none;
            overflow: auto;
        }
            .openDialog::-webkit-scrollbar{
                background-color: #133530;
                
                height: 20%;
                
            }
            .openDialog::-webkit-scrollbar-thumb{
                background-color: #a4e2d7;
                border-radius: .5rem;
                
            }
            .openDialog:target{
                display: block;
                opacity: 1;
                pointer-events: auto;
            }
                .home {
                    width: 90%;
                    position: relative;
                    margin: 5% auto;
                    padding: 1.6rem 2.5rem 2.1rem 2.5rem;
                    -webkit-border-radius: .7rem;
                    -moz-border-radius: .7rem;
                    background-color: #fff;
                    text-align: justify;
                }
                .home h3 {
                    margin-top: 5%;
                    text-align: center;
                    padding-bottom: 1.3rem;
                    color: #133530;
                    font-size: 1.6rem;
                    font-weight: 700;
                }
                .home p {
                    margin-top: 2.5%;
                    margin-bottom: 2.5%;
                    padding: .01%;
                }
                        .fechar{
                            background-color: #606061;
                            color: #fff;
                            line-height: 25px;
                            position: absolute;
                            right: -12px;
                            text-align: center;
                            top: -10px;
                            width: 24px;
                            text-decoration: none;
                            font-weight: bold;
                            -webkit-border-radius: 12px;
                            -moz-border-radius: 12px;
                            border-radius: 12px;
                        }
                        .fechar:hover{
                            color: #6ca89e;
                        }

                        /*Estilo da area de atuação especificia*/ 
                        .tab-pane h3{
                            text-align: center;
                            padding: 1rem;
                        }
                        .tab-pane h4{
                            padding: .5rem;
                        }
                        .tab-pane ol li{
                            list-style: circle;
                            padding: .5rem;
                        }
                        .tab-pane ul li{
                            list-style: circle;
                            padding: .5rem;
                        }

                        .list-group-item{
                            background-color: #fff;
                            text-align: left;
                            font-weight: 500;
                        }
                        .list-group-item.active {
                            color: #fff;
                            background-color: #6ca89e;
                            border-color: #6ca89e;
                            font-weight: 500;
                        }
    /*Aplicando responsividade na página*/
    @media only screen and (max-width: 768px){
        .navContainer{
            width: 100%;
            display: flex;
            height: auto;
            justify-content: center;
        }
        .textNav{
            flex-wrap: wrap;
            width: 45%;
            justify-content: space-between;
        }

        .openConteudo{
            width: 100%;
            display: flex;
            height: auto;
            justify-content: center;
        }
        .openDialog{
            flex-wrap: wrap;
            width: auto;
            justify-content: space-between;
        }
    }
    /*Largura de até 600px*/
    @media only screen and (max-width:425px){
        .navContainer{
            width: 100%;
            display: flex;
            height: auto;
            overflow: scroll;
        }
        .textNav{
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            flex-direction: column;
            margin-top: 25px;
        }

        .openConteudo{
            width: 100%;
            display: flex;
            height: auto;
            justify-content: center;
        }
        .openDialog{
            flex-wrap: wrap;
            width: auto;
            justify-content: space-between;
        }
        /*inicio Resposividade areas de atuação lista */
        div.col-4.listaAreas{
            margin-top: 10px;
            width: 100%;
        }

        .home  div.col-8{
            margin-top: 20px;
            width: 100%;
        }
        /* Fim resposividade areas de atuação */

        /* Inicio responsividade tipos de transtornos */
        div.col-2.listaAreas{
            margin-top: 10px;
            width: 100%;
        }

        div.col-3.listaAreas{
            margin-top: 10px;
            width: 100%;
        }
        /* Fim tipos de transtornos */

        div.col-3.listaAreas{
            margin-top: 10px;
            width: 100%;
        }
    }    
/*Fim estilização página Curiosidades*/