*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #DFE4EB;
}
header{
    text-align: center;
    background: #C5F9F0;
    padding: 15px;
}
header h1{
    font-size: 40px;
    color: black;
}
nav ul{
    list-style-type: none;
    background-color: #6debd6;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
nav a{
    color: black;
    text-decoration: none;
    padding: 16px;
    display: 20;
}
nav li{
    float: right;

}
nav a:hover{
    background-color: white;
    color: black;
}
.row{
    padding: 0 20px;
    display: table;
}
section{
    float: left;
    width: 75%;
}
aside{
    float: left;
    width: 25%;
    padding-left: 20px;
}
.card{
    background-color: rgb(251, 245, 245);
    padding: 20px;
    margin-top: 20px;
}
footer{
    padding: 20px;
    background: #6debd6;
    color: black;
    margin-top: 20px;
}

footer img{
    margin-right: 10%;
    padding: 0%;
    width: 10%;
}
/*Tablets*/
@media screen and (max-width: 768px){
    section, aside{
        width: 100%;
        padding: 0;
    }
}
/*Celulares*/
@media screen and (max-width: 600px){
    nav li{
        float: none;
        text-align: center;
        width: 100%;
    }
    nav a:hover{
        background-color: transparent; 
    }
}
@media screen and
(max-width: 380px) and
(orientation:portrait) {
    /*estilo*/
}
